.playerCard {
  width: 50%;
  float: left;
  padding: 10px;
}

.playerCard > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
}

.playerCard > .selected {
  border: 1px solid green;
  box-shadow: inset 0px 0px 5px 1px green;

}
