.waiting {
  background-color: rgba(0,0,50,0.6);
  padding: 50px;
}

.waiting h2 {
  text-align: center;
  color: white;
  letter-spacing: 1px;
  width:100%;
}

p {
  color: white;;
  text-align: center;
}
